<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">
    <context:property-placeholder location="classpath:MySqlDb.properties"/>
    <!--   将SqlSessionFactory放入IOC容器 -->
    <bean id="SqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="configLocation" value="classpath:ssy/com/mapper/mybatis-config.xml"/>
        <property name="dataSource" ref="dataSource"/>
<!--    mybatis-config配置文件中setting标签的替换    -->
        <property name="configuration">
            <bean class="org.apache.ibatis.session.Configuration">
                <property name="logImpl" value="com.alibaba.druid.support.logging.SLF4JImpl"/>
                <property name="mapUnderscoreToCamelCase" value="true"/>
            </bean>
        </property>
<!-- typeAliasesPackage的替换-->
        <property name="typeAliasesPackage" value="ssy.com.pojo"/>
<!--        mappers标签与package的替换-->
        <property name="mapperLocations" value="classpath:ssy/com/mapper/*.xml"/>
    </bean>
<!--    将druid放入IOC中-->
    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="driverClassName" value="${jdbc.driverClassName}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
    </bean>
    <!--    管理mapper的代理对象-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
     <property name="basePackage" value="ssy.com.mapper"/>
    </bean>
</beans>