<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd">

    <!-- 创建目标类-->
    <bean id="calculator" class="com.ssm.aop.xml.CalculatorImpl">

    </bean>
    <!-- 创建切面类-->
    <bean id="logAspect" class="com.ssm.aop.xml.LogAspect">
    </bean>
    <aop:config>
        <!-- 定义切点 -->
        <aop:pointcut id="pointcut" expression="execution(* com.ssm.aop.xml.CalculatorImpl.*(..))" />
        <!-- 建立切面和通知的关系 -->

        <!-- 定义切面，把切面类注入-->

    </aop:config>
</beans>